/* the styles for the elements */
body
{
	font-family: Arial, Helvetica, sans-serif;
    width: 95%;
	  max-width: 64em;
    margin: 0 auto;
    padding: 0;
    border: 0.1875em solid yellow;
    box-shadow: 0 0.625em 1.25em 0.625em;
    background-color: darkgreen;
    color: yellow;
    text-align: center;
}

main{
  margin: 20%;
}

h1, h2, h3, p
{
	margin: 0;
	padding: 0;
}

/* the styles for the header */


section
{
    width: 35.3125em;
    float: right;
    padding: 1.5625em 1.875em;
}

section h1
{
    font-size: 160%;
    margin-bottom: .3em;
}

section h2
{
    font-size: 130%;
    margin-bottom: .5em;
}

section h3
{
    color: maroon;
    font-size: 110%;
    margin-bottom: .4em;
}

section p
{
    font-size: 100%;
    margin-bottom: .7em;
}



/* the styles for the footer */
footer
{
	clear: both;
	padding: 1em 1.875em;
  background-color: green;
	color: white;
}

footer p
{
	text-align: center;
  font-size: 85%;
}

#football{

}

#video{
  display: inline-block;

}

/* Media Queries */
@media only screen and (max-width: 900px)
{	/*	Handles screen widths 768px to 900px	*/
	body
	{
		box-shadow: none;
		font-size: 90%;
	}
}

@media only screen and (max-width: 767px)
{	/*	Handles screen widths 480px to 767px	*/
	
	header h2
	{
		font-size: 200%;
	}

	section
	{
		float: none;
		width: 93.3333%;
	}

	aside
	{
		float: none;
		width: 93.3333%;
		padding-top: 0;
		padding-bottom: 1.5625em;
	}
	#video{

	}

	#video iframe{
		width: 340;
		height: 250;
	}
}

@media only screen and (max-width: 479px)
{	/*	Handles screen widths up to 4797px	*/
	header h2
	{
		font-size: 180%;
	}

	header h3
	{
		font-size: 115%;
	}

	section p
	{
		font-size: 95%;
	}
	#video iframe{
		width: 250;
		height: 150;
	}
}
